.container{
    width: 95%;
     height: 20px;
      background-color:#F7F8F9;
     border-radius: 10px; 
     overflow: hidden;
     margin-left:4;
     display: flex;

}
.load_time{
    width:95%;
    display: flex;
    justify-content:space-between;
}

  
  .progress {
    height: 20px;
    position: relative;
  }
  
  .load_time {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .tooltip {
    position: absolute;
    background-color: #22272B;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -100%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding-left:8px;
    padding-top:8px;
    width: 168px;
  }
  .tooltipInfo{
    color:#FFF;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }
  .colorCircle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right:10px;

  }
  .tooltipArrow {
    position: absolute;
    bottom: -5px; /* Position the arrow at the bottom */
    left: 14px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #22272B; /* Same color as tooltip background */
  }
  .container {
    position: relative;
    width: 100%;
  }
  
  .ticksContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 106%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tick {
    z-index: 9999;
    position: absolute;
    height: 100%;
    border-left: 2.5px solid #808080; /* Adjust the color as needed */
    pointer-events: none;
  }