.verticalProgressBar{
    height:80px;
    width:40%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.verticalProgressBarVal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15%;
}
.verticalProgressBarVal span{
    font-size: 10px;
    font-weight:500;
    color:#000;
}
.switchContainer{
    display:flex;
    border-bottom:1px solid #00426947;
    margin-bottom:16px;
}
.switchBtn{
 padding-bottom: 6px;
 flex:1;
}
.switchBtn span{
font-size: 12px;
color:#002033;
}