.verticalProgressBar{
    height:80px;
    width:40%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.verticalProgressBarVal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15%;
}
.verticalProgressBarVal span{
    font-size: 10px;
    font-weight:500;
    color:#000;
}
.btnBlock{
    border: 1px solid #00426947;
    border-radius: 4px;
    padding: 12px;
    margin-right: 16px;
    margin-bottom:16px;
    color: #00395CCC;
    font-size: 16px;
}